<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>index.html</title>
	<meta name="author" content="shingo" />
	<!-- Date: 2015-06-09 -->
</head>
<body>
<h1>全ての投稿一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to '詳細', post %></td>
      <td><%= link_to '編集', edit_post_path(post) %></td>
      <td><%= link_to '削除', post_path(post),
                method: :delete, data: { confirm: '削除しますか？' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to '新しい投稿', new_post_path %>
</body>
</html>