<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>new.html</title>
	<meta name="author" content="shingo" />
	<!-- Date: 2015-06-09 -->
</head>
<body>
<div class="post_info">
  <p>
    <strong>タイトル：</strong>
    <%= @post.title %>
  </p>
   
  <p>
    <strong>内容：</strong>
    <%= simple_format @post.text %>
  </p>
</div>

<h2>コメント</h2>
<%= render @post.comments %>

<h2>コメントを追加</h2>
<%= render "comments/form" %>

<%= link_to '戻る', posts_path %>
| <%= link_to '編集', edit_post_path(@post) %>
</body>
</html>

